<richlistitem id="category-connection"
              class="category"
              value="paneConnection"
              helpTopic="prefs-connection"
              align="center"
              hidden="true">
  <image class="category-icon"/>
  <label id="torPreferences-labelCategory" class="category-name" flex="1" value="Connection"/>
</richlistitem>
