# Copyright (c) 2021, The Tor Project, Inc.

<hbox id="torconnect-box"
      class="urlbar-icon-wrapper urlbar-page-action"
      role="status"
      align="center"
      hidden="true">
    <hbox id="torconnect-container">
        <label id="torconnect-label"/>
    </hbox>
</hbox>